<!DOCTYPE html>
<html>
	<title>lecture reflected-xss</title>
	<head>
		<link rel="stylesheet" href="style.css">

	</head>

	<body>
		#!解説!#<br>

		<h3>先程のフォームで何が起こったのか解説します。</h3>
		<img src="images/reflected-xss.png" alt="反射型XSSの流れ">

		<h2>実行したソースコードの中を見てみると、反射型XSSが起きてしまう原因はここにあります。<br></h2>
	
		<img src="images/vuluable.png" alt="XSSが起きる原因">


		<h3>ここでWebアプリケーションからの入力値をスクリプトとして扱っています。<br>その結果、scriptタグが実行されてしまいます。</h3>
		<h3>最も有効な処理は「<」や「"」などの意味を持った文字(特殊文字)を他の文字に置き換えてしまう方法です。</h3><br>
		<h3>この方法を</h3><h1 id="text1">エスケープ処理</h1><h3>と言います。</h3>
		<h3>HTMLでよく使われる特殊文字列には以下のようなものがあります。</h3><br>
		<table border="1">
			<tr>
				<th>特殊文字</th>
				<th>文字符号(エスケープ後)</th>
			</tr>
			<tr>
				<td>＜</td>
				<td>＆lt;</tr>
			</tr>
			<tr>
				<td>＞</td>
				<td>＆gt;</td>
			</tr>
			<tr>
				<td>"</td>
				<td>＆quot;</td>
			</tr>
			<tr>
				<td>'</td>
				<td>＆apos;</td>
			</tr>
			<tr>
				<td>＆</td>
				<td>＆amp;</td>
			</tr>
		</table>

		

		<h3>それではエスケープ処理をするコーディング反射型XSSを防いでいきます。<br></h3>
		<h3>usernameでrequestをする処理を行った後、</h3><br>
		<h1>username=html.escape(username)</h1><br>
		<h3>を追加しましょう。</h3><br>
		<h3>この一文はhtmlモジュールにあるescapeメソッドを使用したエスケープ処理です。<br></h3>

		<h3>実際にエディタでセキュアコーディングを行ってみましょう。</h3>

		<h5>ローカル環境に戻って./app/vulunerable1/run.pyを開き、コード修正する</h5>


		

		
	</body>
</html>