{% autoescape false %}
<!DOCTYPE html>
<html lang="ja">
 <head>
  
   <meta charset="utf-8">
   <title>XSSテスト-入力画面-</title>
</head>
<body>
    <h1>{{ name }} </h1>
    <h2>message :{{ message }}</h2>
    
  <h1>入力画面</h1>
    <form action="/xss_1" method="POST" enctype="multipart/form-data">
        <label for="username">Name:</label>
        <input type="text" style="width:290px;" name="name"><br/><br/>
        <input type="submit" value="確認">
    </form>
  
  
</body>
</html>
{%endautoescape %}